.div-line {
    line-height: 30px;
}

.div-none-padding {
    padding: 0px;
}

.div-margin-5 {
    margin-top: 5px;
    margin-bottom: 5px;
}

.div-margin-10 {
    margin-top: 10px;
    margin-bottom: 10px;
}

.div-margin-20 {
    margin-top: 20px;
    margin-bottom: 20px;
}

table.table>tr>td,
table.table>tr>th {
    vertical-align: sub;
}

.btn-full-size 
{
    width: 100%;
}

#google-map {
    height: 400px;
}


a {
    cursor: pointer;
}

div.dataTables_length select {
    margin-left: 10px;
    margin-right: 10px;
}

.tt-menu {
    width: 422px;
    margin-top: 5px;
    padding: 3px 0;
    background-color: #fff;
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
  }

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 24px;
}

.tt-suggestion.tt-is-under-cursor {
  color: #fff;
  background-color: #0097cf;
}

.tt-suggestion p {
  margin: 0;
}