#lightbox{cursor:pointer; position:fixed; width:100%; height:100%; top:0; left:0; background:black; background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAIElEQVQ4T2NkYGDYDMRkA8ZRAxhGw4BhNAyA+WAYpAMAIFgLQfO9BoEAAAAASUVORK5CYII=); background:rgba(211,211,211,0.7); -webkit-filter:none !important; z-index:10000;}
#lightbox img{display:block; position:absolute; box-shadow:0 0 20px #000; border-radius:1px; width:auto;}
body.blurred > *{-webkit-filter:blur(2px); -webkit-transform:translate3d(0,0,0);}
.lightbox-loading{background:url(../images/loading.gif) center center no-repeat; width:31px; height:31px; margin:-16px 0 0 -16px; position:absolute; top:48%; left:50%;}
.lightbox-caption{display:none; position:absolute; left:0; bottom:0; width:100%; text-align:center; z-index:1000; background:#000; background:rgba(0,0,0,0.7);}
.lightbox-caption p{margin:0 auto; max-width:70%; display:inline-block; *display:inline; *zoom:1; padding:10px; color:#fff; font-size:12px; line-height:18px;}
.lightbox-button{position:absolute; z-index:9999; background:no-repeat center center; width:32px; height:32px; opacity:0.4; -webkit-transition:all 0.3s; -moz-transition:all 0.3s; -ms-transition:all 0.3s; transition:all 0.3s;}
.lightbox-button:hover,.lightbox-button:focus{opacity:1; -webkit-transform:scale(1.4); -moz-transform:scale(1.4); -ms-transform:scale(1.4); transform:scale(1.4);}
.lightbox-close{right:30px; top:30px; background-image:url("../images/lightbox/close.png");}
.lightbox-next{right:30px; top:48%; background-image:url("../images/lightbox/next.png");}
.lightbox-previous{left:30px; top:48%; background-image:url("../images/lightbox/previous.png");}