#nlightbox
{
	display: none;
	
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background: rgba(211, 211, 211, 0.7) none repeat scroll 0% 0%;
	z-index: 10000;
}

#nlightbox img {
	cursor: pointer;
	
	height: auto;
	width: auto\9; /* ie8 */
	box-shadow: 0px 0px 20px #000;
	border-radius: 1px;
}

.nlightbox-caption{		
	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	z-index: 1000;
	background: rgba(211, 211, 211, 0.7) none repeat scroll 0% 0%;
}

.resize_fit_center {
	max-width:100%;
	max-height:100%;
	vertical-align: middle;
}

.nlightbox-center {
	top: 120px;
}

.nlightbox-button {
	position: absolute;
	z-index: 9999;
	background: transparent none no-repeat scroll center center;
	width: 64px;
	height: 64px;
	opacity: 0.4;
	transition: all 0.3s ease 0s;
}

.nlightbox-button:hover, .nlightbox-button:focus {
	opacity: 1;
	transform: scale(1.4);
}

.nlightbox-close {
	right: 30px;
	top: 30px;
	background-image: url("http://katchup.vn/public/resources/images/lightbox/close.png");
}